/**
Hoja de estilo comun para todos los proyectos
 */
 *{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f3b9b9;
}


.container{
    display: flex;
    flex-direction: column;
    background-color: #e25a5a;
    align-items: center;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 3px rgb(235, 59, 88);
    max-width: 700px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.mensaje{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.boton{
    margin-top: 20px;
}


.label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.mensajeError{
    color: red;
}

fieldset{
    width: 100%;
}




.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33% ;
}
.col-11{
    width: 91.66%;
}
.col-12{
     width: 100%;
 }

@media only screen and (width<=768px){
    [class*="col-"]{
        width: 100%;
    }
    .contenedor{
        flex-direction: column;
    }
    .col-img-4{
        max-width: 33.33%;
    }
}
@media only screen and (width>768px) and (width<=992px ){
    .col-1,.col-2,.col-3,.col-4,.col-5{
        width: 50%;
    }
    .col-7,.col-8,.col-9,.col-10,.col-11{
        width: 100%;
    }

}






